    body {
        font-family: 'Playfair Display', serif;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    nav {
        font-size: 0px;
    }

    img {
        height: 280px;
        width: 420px;
    }

    ul {
        margin: 77px 0px 0px 313px;
    }


    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
    }

    h2 {
        color: #626262;
        font-family: "Playfair Display";
        font-size: 30px;
        font-weight: 400;
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
        color: #b4ad9e;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
    }

    button {
        padding: 21px 34px 22px 34px;
        border: solid 1px;
        color: #626262;
        font-family: "Playfair Display";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        background-color: #ffffff;
    }

    span {
        text-transform: uppercase;
    }

    .nav-li {
        color: #626262;
    }

    .nav-li:hover {
        color: #03a9f4;
    }

    .first_a {
        padding-right: 121px;
    }

    .second_a {
        padding-right: 103px;
    }

    .third_a {
        padding-right: 95px;
    }

    .first-article {
        margin-top: 104px;
    }

    .col-1_line-1 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 200px;
    }

    .col-2_line-1 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 60px;
    }

    .text {
        text-align: left;
        color: #626262;
        font-family: "Playfair Display";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .second-article {
        margin-top: 132px;
    }

    .col-1_line-2 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 200px;
    }

    .col-2_line-2 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 60px;
    }

    .third-article {
        margin-top: 138px;
    }

    .col-1_line-3 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 200px;
    }

    .col-2_line-3 {
        max-width: 420px;
        display: inline-block;
        width: 50%;
        margin-left: 60px;
    }

    .button {
        margin: 75px 0px 92px 541px;
    }